<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="form-signin w-100 m-auto text-center d-flex justify-content-center mt-5">
        <form action="{{ route('AuthController.register')}}" class="col-lg-4" method="POST">
            {{ csrfField() }}
            <h1 class="h3 mb-3 fw-normal">Please Register</h1>
            <div class="form-floating">
                @if(flashMessages.has('errors.username'))
                    <p class="alert alert-danger"> {{ flashMessages.get('errors.username') }} </p>
                @end
                <input type="text" class="form-control" id="username" name="username" required autocomplete="off"><br>
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                @if(flashMessages.has('errors.email'))
                    <p class="alert alert-danger"> {{ flashMessages.get('errors.email') }} </p>
                @end
                <input type="email" class="form-control" id="email" name="email" required autocomplete="off"><br>
                <label for="email">Email</label>
            </div>
            <div class="form-floating">
                @if(flashMessages.has('errors.password'))
                    <p class="alert alert-danger"> {{ flashMessages.get('errors.password') }} </p>
                @end
                <input type="password" class="form-control" id="password" name="password" required autocomplete="off"><br>
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                @if(flashMessages.has('errors.password_confirmation'))
                    <p class="alert alert-danger"> {{ flashMessages.get('errors.password_confirmation') }} </p>
                @end
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" required autocomplete="off"><br>
                <label for="password_confirmation">Confirm Password</label>
            </div>
            <button type="submit" class="btn btn-success btn-lg w-100">Register</button>
        </form>
    </div>

    @if(flashMessages.has('success'))
        <p style="color: green;">{{ flashMessages.get('success') }}</p>
    @endif
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>